body {
    background-color: #36383c;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #454244;
    color: #cad7dd;
    padding: 10px;
    text-align: center;
}

.darker {
    color: #646c70;
    line-height: 1.8;
}

header a {
    color: #5b5a5a;
    text-decoration: none;
}

header a:hover {
    color: #555;
}

h1 {
    margin: 0;
    font-size: 20px;
}

main {
    padding: 20px;
    align-items: center;
}

textarea {
    resize: none;
}

.space-out,
.space-even,
.center {
    display: flex;
    align-items: center;
}

.space-out {
    justify-content: space-between;
}

.space-even {
    justify-content: space-evenly;
}

.center {
    justify-content: center;
}
.p-12 {
    padding: 12px;
}

.pt-12 {
    padding-top: 12px;
}

.upload-section {
    text-align: center;
}

.upload-section input[type="file"] {
    display: none;
}

.upload-section {
    cursor: pointer;
    display: inline-block;
    border: none;
}

.card {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 18px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 320px;
    max-width: 100%;
}

.input-group {
    margin-bottom: 5px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

.input-group input[type="text"],
.input-group input[type="number"],
.input-group textarea,
.input-group input[type="color"] {
    width: 97%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 8.5rem;
}

.button,
.button-split-left,
.button-split-right {
    background-color: #4caf6d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 14px;
}
.button-split-right {
    background-color: #4cafa7;
    border-radius: 0 5px 5px 0;
    padding: 10px 10px;
    margin: 0;
}

.button-split-left {
    border-radius: 5px 0 0 5px;
    padding: 10px 10px;
    margin: 0;
}

.button-split-right:hover {
    background-color: #3c8a83;
}

.button:hover,
.button-split-left:hover {
    background-color: #45a049;
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transform-origin: 0 0;
    width: 100%;
    height: auto;
}

.hidden {
    display: none;
}
#output svg {
    border: 1px solid grey;
}
